*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'AvenirLTStd-Roman';
}

@font-face {
  font-family: "AvenirLTStd-Black";
  src: url('/Assets/fonts/AvenirLTStd-Black.otf');
}

@font-face {
  font-family: "AvenirLTStd-Book";
  src: url('/Assets/fonts/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url('/Assets/fonts/AvenirLTStd-Roman.otf');
}